@import "tailwindcss";
@import "katex/dist/katex.min.css";
@plugin "tailwindcss-animate";
@plugin "@tailwindcss/typography";
@custom-variant dark (&:is(.dark *));

@theme {
  --font-headline-md: var(--font-geist-sans);
  --font-code-md: var(--font-jetbrains-mono);
  --font-label-caps: var(--font-geist-sans);
  --font-headline-xl: var(--font-geist-sans);
  --font-headline-lg: var(--font-geist-sans);
  --font-body-lg: var(--font-geist-sans);
  --font-body-md: var(--font-geist-sans);
  --font-code-sm: var(--font-jetbrains-mono);

  --color-secondary: #c8c6c5;
  --color-primary-fixed: #aff74e;
  --color-surface-tint: #94da32;
  --color-tertiary-fixed: #e4e2e1;
  --color-on-primary-container: #284400;
  --color-outline: #8c947d;
  --color-surface-variant: #353534;
  --color-secondary-fixed: #e5e2e1;
  --color-primary-container: #76b900;
  --color-tertiary-fixed-dim: #c8c6c5;
  --color-on-tertiary-fixed: #1b1c1c;
  --color-error-container: #93000a;
  --color-on-secondary-container: #b7b4b4;
  --color-on-error: #690005;
  --color-surface-container: #201f1f;
  --color-primary: #94da32;
  --color-secondary-container: #474746;
  --color-tertiary: #c8c6c5;
  --color-inverse-primary: #416900;
  --color-on-tertiary: #303030;
  --color-on-background: #e5e2e1;
  --color-surface-bright: #3a3939;
  --color-primary-fixed-dim: #94da32;
  --color-on-tertiary-container: #3c3c3c;
  --color-on-error-container: #ffdad6;
  --color-secondary-fixed-dim: #c8c6c5;
  --color-on-secondary: #313030;
  --color-inverse-on-surface: #313030;
  --color-on-secondary-fixed: #1c1b1b;
  --color-error: #ffb4ab;
  --color-on-secondary-fixed-variant: #474746;
  --color-on-primary: #203700;
  --color-surface-dim: #131313;
  --color-on-primary-fixed: #102000;
  --color-on-tertiary-fixed-variant: #474746;
  --color-tertiary-container: #a8a6a6;
  --color-inverse-surface: #e5e2e1;
  --color-on-primary-fixed-variant: #304f00;
  --color-surface-container-lowest: #0e0e0e;

  /* Dynamic Theme Variables */
  --color-background: var(--theme-bg);
  --color-surface: var(--theme-surf);
  --color-surface-container-low: var(--theme-surf-low);
  --color-surface-container-high: var(--theme-surf-high);
  --color-surface-container-highest: var(--theme-surf-highest);
  --color-on-surface: var(--theme-on-surf);
  --color-on-surface-variant: var(--theme-on-surf-var);
  --color-outline-variant: var(--theme-outline);

  --spacing-xl: 32px;
  --spacing-gutter: 16px;
  --spacing-lg: 24px;
  --spacing-margin-desktop: 32px;
  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-unit: 4px;
  --spacing-md: 16px;
  --spacing-margin-mobile: 16px;

  --radius-DEFAULT: 0.125rem;
}

:root {
  /* Light Mode Variables */
  --theme-bg: #f3f3f3;
  --theme-surf: #ffffff;
  --theme-surf-low: #f5f5f5;
  --theme-surf-high: #e5e5e5;
  --theme-surf-highest: #d4d4d4;
  --theme-on-surf: #171717;
  --theme-on-surf-var: #525252;
  --theme-outline: #c1cab1;
  /* --theme-outline: #e5e5e5; */

  --background: var(--color-background);
  --foreground: var(--color-on-surface);
}

.dark {
  /* Dark Mode Variables */
  --theme-bg: #0a0a0a;
  --theme-surf: #171717;
  --theme-surf-low: #121212;
  --theme-surf-high: #262626;
  --theme-surf-highest: #333333;
  --theme-on-surf: #e5e2e1;
  --theme-on-surf-var: #c1cab1;
  --theme-outline: #424936;
}

body {
  background-color: var(--color-background);
  color: var(--color-on-surface);
}

/* Custom scrollbar for webkit */
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #333333;
  border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
  background: #474746;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #333333;
  border-radius: 2px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #474746;
}
